
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'miamaregular';
    src: url('miama.regular-webfont.woff2') format('woff2'),
         url('miama.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.bg-gradient{
    background: linear-gradient(180deg, #313131 0%, rgba(119, 119, 119, 0.00) 100%);
  }

  /* Shared Styles */

.display-flex{
    display: flex;
}

.section-title{

    font-size: 3rem;
    font-weight: 900;
    color: #FFF;
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    margin-bottom: 14px;

}
.section-description{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.3px;
    width: 670px;
    margin-bottom: 60px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.text-light-grey{
    color: rgba(255, 255, 255, 0.50);

}

.habits-info{
/* text-align: center; */
/* align-items: center; */
margin-bottom: 60px;
}



/* navbar related styles */

.navbar{
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    align-items: center;
   }
   
   .nav-items{
       list-style: none;
       margin-right: 47px;
   }

   .nav-link{
    color: #FFF;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    text-decoration: none;

}

.nav-links{
    border-radius: 39px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 47px;
        
}

.hamburger-icon{
display: none;
}


.button-home{
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 46px;
    background: #E6533C;
    color: #FFF;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    text-decoration: none;
}

/* Banner related Styles */
.brand-name{
    color: #E6533C;
    font-family:'Inter';
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
}
.banner{
    margin: auto;
    max-width: 1440px;
    justify-content: space-between;
    
}

.hero-banner-content{
    position: relative;
}

.healthy{
    color: #FFF;
    font-family: Inter;
    font-size: 5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 28px;
    margin-top: 5px;
}
.banner-title{
    color: #FFF;
    font-family: Inter;
    font-size: 5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 2%;
}

.banner-content{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner-description{
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}


.shape{
    color: #FFF;
    font-family: miamaregular;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.btn-primary{

    padding: 16px 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 42px;
    background: #E6533C;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-right: 14px;
    }

    .btn-primary-2{
        width: 224px;
        padding: 16px 32px;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        border-radius: 42px;
        background: #E6533C;
        border: none;
        color: #FFF;
        font-family: Inter;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 52px;

    }

    .btn-primary-3{
        width: 224px;
        padding: 16px 32px;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        border-radius: 42px;
        background: #E6533C;
        border: none;
        color: #FFF;
        font-family: Inter;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 52px;

    }





    .btn-secondary{
    padding: 16px 30px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 42px;
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    }

    .circle{
        width: 40px;
        height: 40px;
        background-color: #ff5733;
        border-radius: 50%;
        margin-left: 23px;

    }

    .badge-1{
    display: inline-flex;
    align-items: center;
    width: 206px;
    height: 96px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    text-align: left;
    position: absolute;
    top: 70%;
    right: 80%;

    }

    .badge-2{
    width: 193px;
    height: 98px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    text-align: left;
    position: absolute;
    top: 25%;
    left: 55%;
    }


    .feature-number{
    color: var(--Text-1, #FAFAF9);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; 
    letter-spacing: 0.3px;
    }

    .feature-number-2{
        color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px; 
    letter-spacing: 1px;
    }

    .Video{
        display: flex;
        flex-direction: column;
        color: var(--Text-2, rgba(239, 237, 232, 0.65));
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        margin-top: 8px;

    }

    .Video-2{
        color: rgba(255, 255, 255, 0.65);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: 1px;
    }
    .text{
        margin-left: 12px;
    }

    .text-2{
        margin-left: 24px;
    }

    .header-picture{
        width: 349px;
        height: 580px;
        flex-shrink: 0;
        margin-right: 90px;
    }

    margin: auto;
    max-width: 1440px;
    
/* mains styles */
main{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;


}

main section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.bg-main{
    background: #000;
}

/* Habit-related style */
.habit-name{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    margin-bottom: 1px;

}

.habit-description{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.3px;
    width: 231px;
    margin-top: 6px;

}

.habit{
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 500px;
    display: flex;

    }

.image-container{
    border: 4px solid #191919;
    border-radius: 100px;
}


.habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1440px;
    margin: auto;
    gap: 40px;

}

.Extra-Mile-cards-container{

    border-radius: 18px;
    background: #222;
    padding: 30px 32px 29px 54px;
    width: 1440px;
    margin: auto;

}

.card{
    display: flex;
    justify-content: space-between;
    gap: 165px;
    align-items: center;
    align-self: stretch;

}

.card-title{
    color: #FFF;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    width: 443px;
    margin-bottom: 14px;


}

.card-description{
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
    margin-bottom: 34px;
    width: 443px;
}

.card-image{
    
}


.card-content{
    /* margin-bottom: 30px; */
    
}
.calculator-title{
    color: #FFF;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
    margin-left: 385px;

}

.calculator-description{
    width: 670px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
    margin-left: 385px;
}

.calculator-description-2{
    width: 670px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
    margin-bottom: 34px;
}

.calculator-info{
    margin-top: 90px;
    margin-bottom: 90px;
    
}

#secondary-background{
    background:#222;
}

.chart-title{
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 33.6px */
    margin-bottom: 14px;
    margin-top: 55px;

}


table{
    border-collapse: collapse;
    text-align: left;

}

td{
    padding: 15px 18px;
    border: 1px solid #555;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

th{
    padding: 15px 60px;
    border: 1px solid #555;
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 

}

.calculator{
    display: flex;
    gap: 12px;
}


section input[type="text"]{
    width: 283px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    display: block;
    border: none;
    margin-bottom: 24px;
}

section input[type="text-2"]{
    width: 610px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    display: block;
    border: none;
    margin-bottom: 24px;
}


section input[placeholder="Height/cm"]{
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding: 5px 15px 5px 15px;
}

section input[placeholder="Weight/kg"]{
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding: 5px 15px 5px 15px;
}

section input[placeholder="Age"]{
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding: 5px 15px 5px 15px;
}

section input[placeholder="Sex"]{
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding: 5px 15px 5px 15px;
}

section input[placeholder="Select an activity factor"]{
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding: 5px 15px 5px 15px;
}

.bmi-section{
    display: flex;
    gap:200px;
    margin: auto;
    max-width: 1440px;

}


.section-description-2{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.3px;
    width: 670px;
    margin-bottom: 60px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.Team-section{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px;
    max-width: 1060px;
    margin: auto;
    margin-bottom: 90px;


}

.Team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 15px;

}


.trainer-image{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
}

.trainer-content{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s;
}

.text-container{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.Main-title{
    color: #FFF;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 24px */
    margin-bottom: 3px;
}

.trainer-title{
    color: rgba(255, 255, 255, 0.523);
    font-family: Inter;
    font-size: 0.9rem;
    font-style: medium;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    margin-top: 3px;
}

.footer-background{
    background:#181818;
}

.footer-section{
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap: 220px;
    margin-bottom: 80px;

}

.footer-section-2{
    max-width: 1440px;
    margin: auto;
    text-align: center;
}



.footer-brand-name{
    color: #E6533C;
    font-family: Inter;
    font-size: 4.5rem;
    font-style: italic;
    font-weight: 800;
    line-height: 120%; /* 84px */
    margin-bottom: 10px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
    align-self: stretch;
    width: 443px;

}

.about-us{
    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
}
.about-us-subtitle{
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}




.rights{
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.3px;
    margin-top: 36px;
}

/* responsive media query */

@media screen and (max-width: 576px) {
.navbar{
    display: flex;
    justify-content: space-between; 
    margin: 20px;
    }

.nav-links{
    display: none;

}

.hamburger-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #FFF;
}

.banner{
    flex-direction: column;
    margin: 20px;

}

.hero-banner-content{
margin: 20px;

}

.badge-1{
    top: 40%;
    left: -5%;

}

.badge-2{
    top: 5%;
    left: 50%;

}


.Habits{
margin: 20px;
}


.section-title{
    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 38.4px */

}

.section-description{
    width: 316px;
}

.section-description-2{
    width: 316px;
}

.habits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.habit {
    margin-bottom: 30px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.Extra-Mile-cards-container {
    padding: 20px;
    width: 393px;
}

.card{
    flex-direction: column; 
    gap: 20px; 

}

.card-title {
    font-size: 2rem; 
    margin-bottom: 10px;
    margin-left:70px;
    
}

.card-description {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
    width: 287px ;
    margin-left:70px;

}

.btn-primary-3{
    display: flex;
    padding: 16px 40px;
    /* justify-content: center; */
    /* align-items: flex-start; */
    gap: 10px;
    align-self: stretch;
    margin-left:70px;
    margin-bottom: 20px;

}

.card-image{
    max-width: 100%
}


.calculator-title{
    align-self: stretch;
    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 38.4px */
    margin: auto;
    width: 393px;
}

.calculator-description{
    width: 393px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
    margin: auto;
    margin-top: 14px;



}

.table-container{
    display: flex;
    flex-direction: column;
    width: 393px;

}


.bmi-calculator{
    display: flex;
    flex-direction: column;
    width: 393px;

}

.bmi-section{
    width: 393px;
    flex-direction: column;
    gap: 42px   
}

.calculator-description-2{
    margin-top: 5px;
}

section input[type="text"]{
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    display: block;
    border: none;
    margin-bottom: 24px;
}

section input[type="text-2"]{
    width: 380px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    display: block;
    border: none;
    margin-bottom: 24px;
}




}